/**
 * @file
 * NoProb IE6-specific style sheet for Drupal 6.x
 */

* html #wrapper {
	height: auto !important;
	height: 100%;
}

* html ul.links a.over {
	background-color: #a9a9a9;
}

* html ul.links ul.show {
	display: block;
}

* html ul.sublinks a:hover {
	background-color: #f4f4f4;
}

* html .help p {
	margin-top: 0;
}
