/**
 * @file
 * NoProb print style sheet for Drupal 5.x & 6.x
 */

#banner,
#menu,
#mission,
#header,
#footer,
#sidebar-left,
#sidebar-right,
.breadcrumb,
.tabs {
	display: none;
}

#main {
	width: 100%;
}
